@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.contacts {
  @include margin-bottom(1);

  &__list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    padding: 0;
    margin: 0.3em -0.16em;
    width: 7.2em;

    &__item {
      padding: 0;
      margin: 0.2em;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 2.2em;
      width: 2.2em;
      line-height: 2.2em;
      border-radius: 50%;
      text-align: center;
      border: 1px solid currentColor;

      &__link {
        border: 0;
        display: flex;
        color: $typographic-menu-link-color;

        &:hover,
        &:focus {
          color: $typographic-menu-link-hover-color;
        }
      }
    }
  }
}
