@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.content {
  position: absolute;
  left: $layout-content-left;
  &__inner {
    position: relative;
    padding: 25px 20px 0;
  }
}

@include breakpoint-sm {
  .content {
    left: $layout-content-left-sm;
    &__inner {
      padding: 30px 20px 0;
    }
  }
}

@include breakpoint-md {
  .content {
    left: $layout-content-left-md;
    &__inner {
      padding: 40px;
    }
  }
}
