@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.container {
  width: 100%;
}

.post_list {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10vw;

  .post_summary {
    cursor: pointer;
  }

  .post_summary_separator {
    background: $color-gray-border;
    height: 1px;
    width: 50%;
    box-shadow: 0px 1px 2px $color-gray-border;
  }
}
