@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.container {
  width: 100%;
}

.post_list {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10vw;

  .post_summary {
    cursor: pointer;

    &__title {
      color: $color-base;
    }

    &__info {
      color: darken($color-quaternary, 20%);
      font-weight: 60;

      &__important {
        color: darken($color-tertiary, 20%);
        font-weight: 100;
      }
    }
  }

  .post_summary_separator {
    background: none;
    border: none;
    height: 1px;
    width: 50%;
    box-shadow: 0px 1px 2px $color-quaternary;
  }
}
