@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

//General
.burgermenu_container {
  //position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  //display: flex;
  //flex-direction: row;
  //display: inline-block;
  //align-items: center;
  //justify-content: space-between;
  background: $color-navbar-bg;
  width: 100%;
  height: 4em;
  color: $typographic-menu-font-color;
}

.logo_mobile {
  position: relative;
  display: block;
  margin: 0.2em auto;
  align-items: center;
  height: 100%;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
}

//Mobile
.sidenavbar {
  position: relative;

  &__inner {
    position: fixed;

    height: 2em;

    left: 0px;

    width: $layout-sidenavbar-width;
    max-width: $layout-sidenavbar-width;

    background-color: $color-navbar-bg;

    &__content {
      padding: 40px;
    }
  }
}

.burgermenu_container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//Tablet
@include breakpoint-sm {
  .sidenavbar {
    &__inner {
      height: 100vh;

      left: 0px;

      width: $layout-sidenavbar-width-sm;
      max-width: $layout-sidenavbar-width-sm;

      &__content {
        padding: 40px;
      }
    }
  }

  .burgermenu_container {
    display: none;
  }
}

//Full Size
@include breakpoint-md {
  .sidenavbar {
    &__inner {
      height: 100vh;

      left: 0px;

      width: $layout-sidenavbar-width-md;
      max-width: $layout-sidenavbar-width-md;

      &__content {
        padding: 40px;
      }
    }
  }

  .burgermenu_container {
    display: none;
  }
}
