.menu {
  background: #666666;
  margin-top: 0px;
  padding-top: 10px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.menu li {
  color: #ffffff;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
.menu a {
  color: #ffffff;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
