@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.container {
  display: block;
  padding-top: 2em;
  //opacity: 0;
  //animation: 1s appear forwards;
}

.menuItem {
  font-size: 1.8rem;
  color: $typographic-menu-font-color;
  //padding: 1rem 0;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  transition: opacity 3s ease-in-out, color 3s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menuItem_open {
  @extend .menuItem;
  opacity: 1;
  animation-name: appear;
  animation-duration: 0.5s;
}

.menuItem_closed {
  @extend .menuItem;
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.5s;
}

.line {
  width: 90%;
  height: 1px;
  background: gray;
  margin: 0 auto;
}
