@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.copyright {
  opacity: $opacity-copyright;
  color: $typographic-base-font-color;
  font-size: $typographic-small-font-size;
}
